#mj-contentarea {
    position: relative;
    right: 9.4%;
    }
    
    #mj-right 
	{
    	position: relative;
    	right: -64%;
    }
    
    .mj-subcontainer 
	{
    	position: relative;
    }
    
	#shopping_items .mj-grid64
	{
		width:66.666%;
	}
	#whatsNew, #featuredProducts, #specialsDefault
	{
		display:none;
	}